body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.counterButton {
  background: #fff;
  border-radius: 8px;
  font-size: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  margin: 0.5rem 0.25rem;
  border: 1.5px solid black;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

div{
  width: 370px;
  text-align: center;
  background-color: grey;
}

.wrapper{
  border-style: double;
  border-width: 5px;
  font-size: 32px;
}

.directions{
  font-size: 28px;
}

input{
  text-align: center;
  width: 64px;
}

p{
  font-size: 24px;
  margin-bottom: 16px;
}

.grade{
  font-size: 18px;
  border-style: solid;
  border-width: 1px;
  width: 40px;
  text-align: center;
  padding: 8px;
  margin: auto;
}

.final{
  margin-bottom: 8px;
}

img{
  width: 150px;
}